$base-spacing: 2em
$small-spacing: $base-spacing/2

// Typography
$sans-serif: 'Karla', sans-serif
$serif: 'Playfair Display', serif

// Colors
$grey: #423a3c
$bianca: #F7EEDE
$pale-turqouise: #ADEDEE
$medium-turqoise: #3FD1CD
$salmon: #FC7F6F
$light-sky-blue: #84CDFC
$sahara-sand: #f5e6cb
$thistle: #D8BED9
