---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Flickr galleri</h1>
  <div class="gallery do-gallery">

  </div>
  <div class="loading">
    <%= image_tag 'loading.svg' %>
  </div>
</div><!-- .welcome -->
