---
title: Welcome to Middleman
---

<div class="about">
  <div class="about-button-container">
    <button class="about-button do-about">About</button>
  </div>

  <div class="about-content">
    <h1>About</h1>
    <p>
      21 year-old who preferably does landscape, portrait or vehicle photography. Usually works as a <a href="http://samuellie.se" target="_blank">developer and designer</a>. Made this portfolio for fun, which collects images from both my <a href="http://www.instagram.com/samuellie/" target="_blank">Instagram</a> and <a href="http://www.flickr.com/photos/realsourapples/" target="_blank">Flickr</a>.
    </p>
  </div>
</div>

<div class="gallery do-gallery">

</div>

<div class="loading do-loading">
  <div class="loading-circle"></div>
  <div class="loading-circle"></div>
  <div class="loading-circle"></div>
  <div class="loading-circle"></div>
  <div class="loading-circle"></div>
  <div class="loading-circle"></div>
</div>
