---
title: Welcome to Middleman
---

<div class="about">
  <button class="about-button do-about">About</button>

  <div class="about-content">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet, simul quaestio pertinacia pri in, ea vocibus nominati sit. Vix dicunt percipitur no, his aeterno apeirian ut. Indoctum efficiantur vim ad, molestiae maiestatis usu ei. Ut vix quas scripta, delectus luptatum his ut, in his zril quando. Ex mea viderer fastidii, putent quaestio accommodare mei in.
    </p>
    <p>
      Quem facete torquatos vim at. Ex sea tantas vivendo oporteat, quem case ridens sea te. Ut ius cibo nonumes, pri solum dissentiet et, saepe dolore labitur usu at. Qui quodsi mentitum facilisis ad.
    </p>
  </div>
</div>

<div class="gallery do-gallery">

</div>
<div class="loading">
  <%= image_tag 'loading.svg' %>
</div>
